/* line 2, /Users/twer/Project/github/blog-build/source/stylesheets/categories.css.scss */
.categories .category {
  padding-top: 15px;
  border-bottom: 1px solid #aaa; }
/* line 6, /Users/twer/Project/github/blog-build/source/stylesheets/categories.css.scss */
.categories h3.year {
  margin-top: 0;
  margin-left: 20px; }
/* line 10, /Users/twer/Project/github/blog-build/source/stylesheets/categories.css.scss */
.categories li {
  list-style: none;
  line-height: 250%; }
