/* line 1, /Users/twer/Project/github/blog-build/source/stylesheets/index.css.scss */
.index {
  padding-top: 10px; }
  /* line 3, /Users/twer/Project/github/blog-build/source/stylesheets/index.css.scss */
  .index:first-child {
    padding-top: 0; }
  /* line 6, /Users/twer/Project/github/blog-build/source/stylesheets/index.css.scss */
  .index + .index {
    border-top: 1px solid #ccc; }
  /* line 9, /Users/twer/Project/github/blog-build/source/stylesheets/index.css.scss */
  .index .year {
    text-align: right;
    padding-right: 40px;
    margin: 0;
    line-height: 160%; }

@media (max-width: 767px) {
  /* line 18, /Users/twer/Project/github/blog-build/source/stylesheets/index.css.scss */
  .index .year {
    text-align: left; } }
