/* line 23, /Users/twer/Project/github/blog-build/source/stylesheets/_mixins.scss */
.clearfix {
  *zoom: 1; }
  /* line 14, /Users/twer/Project/github/blog-build/source/stylesheets/_mixins.scss */
  .clearfix:before, .clearfix:after {
    display: table;
    content: ""; }
  /* line 19, /Users/twer/Project/github/blog-build/source/stylesheets/_mixins.scss */
  .clearfix:after {
    clear: both; }

/* line 3, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
.blog-line {
  margin: 40px auto; }
  /* line 5, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
  .blog-line .blog-item {
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
    padding: 20px; }
    /* line 9, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
    .blog-line .blog-item .title-area {
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px; }
      /* line 10, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
      .blog-line .blog-item .title-area h3 {
        margin: 9px auto;
        line-height: 110%; }
      /* line 16, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
      .blog-line .blog-item .title-area a {
        color: black; }
      /* line 19, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
      .blog-line .blog-item .title-area .category {
        opacity: 0.7;
        filter: alpha(opacity=70); }
        /* line 21, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
        .blog-line .blog-item .title-area .category a {
          font-weight: bold; }
    /* line 26, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
    .blog-line .blog-item .content-area {
      border-bottom: 1px solid #ccc;
      line-height: 150%;
      margin-bottom: 15px; }
    /* line 32, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
    .blog-line .blog-item .tag-area ul {
      margin: 0; }
    /* line 35, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
    .blog-line .blog-item .tag-area .continue-reading {
      float: right; }
    /* line 40, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
    .blog-line .blog-item.right-column {
      margin-left: 0; }
    /* line 43, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
    .blog-line .blog-item.left-column {
      margin-left: 20px; }
    /* line 46, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
    .blog-line .blog-item .arrow-left {
      position: absolute;
      left: -12px;
      top: 107px;
      width: 24px;
      height: 24px;
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
      border-right: 0px solid white;
      -webkit-box-shadow: 4px 4px 10px #eee;
      -moz-box-shadow: 4px 4px 10px #eee;
      box-shadow: 4px 4px 10px #eee;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      display: inline-block;
      *display: inline;
      /* IE7 inline-block hack */
      *zoom: 1;
      background-color: white; }
    /* line 59, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
    .blog-line .blog-item .arrow-right {
      position: absolute;
      right: -12px;
      top: 30px;
      width: 24px;
      height: 24px;
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 0px solid white;
      -webkit-box-shadow: -4px -4px 10px #eee;
      -moz-box-shadow: -4px -4px 10px #eee;
      box-shadow: -4px -4px 10px #eee;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      display: inline-block;
      *display: inline;
      /* IE7 inline-block hack */
      *zoom: 1;
      background-color: white; }
    /* line 72, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
    .blog-line .blog-item .timeline-point {
      position: absolute;
      background-color: black;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      color: white;
      font-size: 16px;
      text-align: center; }
      /* line 80, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
      .blog-line .blog-item .timeline-point .publish-date {
        display: inline-block;
        *display: inline;
        /* IE7 inline-block hack */
        *zoom: 1;
        margin-top: 7px; }
      /* line 84, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
      .blog-line .blog-item .timeline-point.left {
        top: 10px;
        right: -83px; }
      /* line 88, /Users/twer/Project/github/blog-build/source/stylesheets/site.css.scss */
      .blog-line .blog-item .timeline-point.right {
        top: 90px;
        left: -83px; }
